.contact-top {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-bottom {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.contact-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-calendar { 
    width: 135px;
    height: 135px;
    margin-top: -10px;
}

.contact-popup-grey {
    text-align: center;
    background-color: #757575;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    color: white;
}

.contact-heading {
    width: 50%;
    p {
        font-size: 1.4rem;
    }
}

.contact-form {
    width: 50%;
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        .group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        input, textarea {
            margin: 10px 0;
            padding: 15px;
            background-color: none;
            border: 2px solid #78787A; 
            border-radius: 15px;
        }

        input {
            flex-basis: 25%;
        }

        textarea {
            min-height: 150px;
        }
    }
}

.contact-info { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 30px 60px;
    background-color:#F3D3D8;
    border-radius: 20px;

}

.phone-div, .mail-div {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
   
    
    h3,p {
        font-size: 1.4rem;
        color:#78787A;  
    }
    

}

.mail-div {
    margin-top: 40px;
}

.contact-img {
    width: 50px;
    min-height: 25px;
    margin: 0 10px 10px;
}

.contact-img-mail {
    width: 40px;
    min-height: 25px;
    margin: 0 10px 10px;
}