.contact-top {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

*:focus {
    outline: none;
}

.contact-bottom {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.contact-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-calendar { 
    width: 135px;
    height: 135px;
    margin-top: -10px;
}

.contact-popup-grey {
    text-align: center;
    background-color: #757575;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    color: white;
}

.contact-heading {
    width: 50%;
    p {
        margin-top: 20px;
        font-size: 1.8rem;
        color: #4c4c4c;
    }
}

.contact-form {
    width: 50%;
    margin-top: -60px;
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        .group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        input, textarea {
            margin: 10px 0;
            padding: 15px;
            background-color: none;
            border: none;
            border-radius: 15px;
            font-size: 1.2rem;
            color: #757575;
            &::placeholder {
                font-size: 1.2rem; 
             }
        }

        input {
            flex-basis: 25%;
        }

        textarea {
            min-height: 180px;
            
        }

        button { 
            align-self: center;
            padding: 10px 20px;
            background-color: #fff;
            border:none;
            border-radius: 10px;
            margin-top: 10px;
            font-size: 1.2rem;
            color: #757575;
        }
    }
}

.contact-info { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 30px 60px;
    background-color:#F3D3D8;
    border-radius: 20px;
    margin-top: -50px;

}

.phone-div, .mail-div {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
   
    
    h3,p {
        font-size: 1.4rem;
        color:#78787A;  
    }
    

}

.mail-div {
    margin-top: 40px;
}

.contact-img {
    width: 50px;
    min-height: 25px;
    margin: 0 10px 10px;
}

.contact-img-mail {
    width: 40px;
    min-height: 25px;
    margin: 0 10px 10px;
}


@media screen and (max-width: 1100px) { 
   
  .contact-top {
      flex-direction: column;
  }

  .contact-bottom {
      flex-direction: column;
      justify-content: center;
  }

  .contact-form {
    width: 80%;
  }

  .contact-info {
      margin-top: 40px;
      width: 30%;
  }

  .contact-top-right {
      margin-top: 20px;
  }

}

@media screen and (max-width: 900px) {

    .contact-heading {
        width: 80%;
    }

    .contact-form {
        form {

            .group {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

        }
    }

    .contact-info {
        width: 50%;
    }

}

@media screen and (max-width: 600px) {

    .contact-info {
        width: 80%;
        padding: 20px 40px;
    }
}