.service-title {
            margin: 60px 0 40px;
            font-family: 'WonolandPark', serif;
            color: #4c4c4c;
            font-size: 3rem;
            letter-spacing: 2px;
            text-align: center;
}

.center-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pack-iteration {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pack-extras-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #78787A;
    margin-top: 100px;
    border-radius: 20px;
    width: 800px;
}

.pack-title {
    flex-basis: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.4rem;
}

.info-container {
 
}

.info-iteree {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    color: #fff;
    margin: 30px 20px;
    font-size: 1.2rem;
    align-self: flex-start;
}


.title-green {
    margin-bottom: 2px;
    color: #9BCDCC;
}

.title-pink {
    margin-bottom: 2px;
    color: #F37C98;
}

.title-salmon {
    margin-bottom: 2px;
    color: #D494A2;
}

.pack-price {
   // color: #ffbb00;
    color: #fff;
    margin-top: 35px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

.star-container {
   .star {
       margin-top: -5px;
    width: 30px;
   }
   align-self: flex-start;
    margin-right: 10px;
}

// tablet
@media screen and (max-width: 1100px) { 
   
    .pack-iteration {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pack-extras-container {
        width: 500px;
    }
  

    .star-container {
        .star {
         width: 30px;
        }
      
     }

     .pack-title {
        margin: 30px 40px 20px;
        color: #fff;
        font-size: 1.3rem;
    }

}

// mobile
@media screen and (max-width: 500px) { 

    .pack-extras-container {
        width: 500px;
    }
  

    .star-container {
        .star {
         width: 20px;
        }
      
     }

     .pack-title {
        margin: 30px 40px 20px;
        color: #fff;
        font-size: 1.1rem;
    }

    

}


// mobile
@media screen and (max-width: 450px) { 

    
    

}